*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pfp{
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

body
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Audiowide;
}

.subs-odometer{
    font-size: 40px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    min-width: 300px;
    text-align: center;
    padding: 0px;
    letter-spacing: 4px;
}